<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header alert alert-danger">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title" id="modallabel">Rumah di <%= blok_nama %> No <%= no %> telah terjual</h4>
    </div>
    <div class="modal-body">
      <dl class="dl-horizontal">
        <dt>Kwitansi pembayaran</dt><dd>#90123</dd>
        <dt>Nama pelanggan</dt><dd>Laras Hati</dd>
        <dt>Waktu pemesanan</dt><dd>23 Januari 214 /07:00</dd>
        <dt>Status terjual</dt><dd>23 Januari 2014 / 09.00</dd>
        <dt>Nama marketing</dt><dd>Surya</dd>
      </dl>
    </div>
  </div>
</div>